#######################################################################################
# A default configuration that will be loaded for all jupyter books
# See the documentation for help and more options: 
# https://jupyterbook.org/customize/config.html

#######################################################################################
# Book settings
title: OGGM tutorials  # The title of the book. Will be placed in the left navbar.
author: OGGM e.V. and OGGM Contributors  # The author of the book
copyright: "2014-2021"  # Copyright year to be placed in the footer
logo: img/logo.png  # A path to the book logo
repository:
  url: https://github.com/OGGM/tutorials
  path_to_book: . 
  branch: master
launch_buttons:
  notebook_interface: "jupyterlab"
  binderhub_url: "https://mybinder.org"
  jupyterhub_url: "https://hub.oggm.org"
html:
  use_repository_button: true
  use_issues_button: true
  use_edit_page_button: true
  google_analytics_id: UA-106829797-2
  extra_footer: |
    <p>
    These notebooks are licensed under a <a href="https://github.com/OGGM/tutorials/blob/master/LICENSE.txt" target="_blank">BSD-3-Clause license</a>.
    <br>
    &copy; Copyright 2014-2021.
    </p>
sphinx:
  config:
    html_show_copyright: false
execute:
  execute_notebooks: auto
  timeout: -1
  allow_errors: false
exclude_patterns: [.virtual_documents/*,README.md]
