git+https://github.com/fmaussion/sphinx-book-theme.git@add-urls-udpate#egg=sphinx-book-theme
git+https://github.com/GLIMS-RGI/rgitools.git@master#egg=rgitools
git+https://github.com/oggm/oggm-edu.git@master#egg=oggm_edu
jupyter-book
oggm
bokeh
panel
holoviews
geoviews
datashader
colorcet
pyviz-comms
param
hvplot
tables
seaborn
numpy
scipy
pyproj
geopandas
sklearn
