jupyter-book
rioxarray
bokeh
panel
holoviews
geoviews
datashader
colorcet
pyviz-comms
param
hvplot
tables
seaborn
numpy
scipy
pyproj
geopandas
scikit-learn
oggm
git+https://github.com/oggm/oggm-edu.git@master#egg=oggm_edu
