html {
  --pst-font-size-h1: 2.2em; /* Default: 2.625 */
  --pst-font-size-h2: 1.7em;   /* Default: 2.125 */
  --pst-font-size-h3: 1.3em; /* Default: 1.75 */
  --pst-font-size-h4: 1.0em; /* Default: ? */
}

.announcement,
.bd-header-announcement {
  background-color: #f7f9fb;
  color: #2c3e50 !important;
  padding: 0.5em 1em;
  margin: 0;
  font-size: 1.1em;
  text-align: center;
  border-bottom: 1px solid #e3e8ee;
}

.announcement a,
.bd-header-announcement a {
  color: #1f77b4 !important;
  text-decoration: none;
}

.announcement a:hover,
.bd-header-announcement a:hover {
  text-decoration: underline;
}

.bd-header-announcement__content p {
  margin: 0;
}
