html {
  --pst-font-size-h1: 2.2em; /* Default: 2.625 */
  --pst-font-size-h2: 1.7em;   /* Default: 2.125 */
  --pst-font-size-h3: 1.3em; /* Default: 1.75 */
  --pst-font-size-h4: 1.0em; /* Default: ? */
}

.announcement {
  color: white !important;
  padding: 0.5em 1em;
  margin: 0;
  font-weight: 500;
}

.announcement a {
  color: white !important;
  text-decoration: underline;
}

.announcement strong {
  font-weight: 700;
}
