html {
    --pst-font-size-h1: 2.2em; /* Default: 2.625 */
    --pst-font-size-h2: 1.6em;   /* Default: 2.125 */
    --pst-font-size-h3: 1.2em; /* Default: 1.75 */
}

.announcement {
  background-color: orange !important; /* You can use a hex or tailwind-inspired shade if preferred */
  color: white !important;
  padding: 0.5em 1em;
  margin: 0;
  font-weight: 500;
}

.announcement a {
  color: white !important;
  text-decoration: underline;
}

.announcement strong {
  font-weight: 700;
}
